@use "_reset";


@font-face {
    font-family: "Creepster";
    src: url("/assets/fonts/Creepster-Regular.ttf");
}

html {
    background-color: #DE2910;
}

.display {
    display: grid;
    grid-template-columns: [first] 45% [line2] 5% [line3] 45%;
    grid-template-rows: [row1-start] 5% [lastline] 95%;
    gap: 0.9rem;
    margin-left: 1rem;
}

h1 {
    margin-left: 1rem;
}

.main {
    font-family: "Creepster";
    background-color: black;
    color: orange;
    text-align: center;
    padding-bottom: 5rem;
}

@media (max-width: 726px) {
    .display {
        display: flex;
        flex-direction: column-reverse;
    }
    html {
        display: flex;
    }
    .china {
        font-size: 3vw;
    }
    .item3 {
        display: none;
    }
    .item4 {
        display: none;
    }
}

.china {
    background-color: #DE2910;
    color: #FFDE00;
}

.flag {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
}

picture {
    width: 60%;
    height: fit-content;
    border-style: solid;
    border-color: #FFDE00;
}

.item2 {
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
}

.item3 {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
}

.item4 {
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
}

.mainh {
    font-family: "Creepster";
    background-color: black;
    color: orange;
    text-align: center;
    padding-bottom: 5rem;
}
.container {
    display: grid;
    grid-template-columns: [first] 19% [line2] 19% [line3] 19% [line4] 19% [line5] 19%;
    grid-template-rows: [row1-start] 50% [last-line] 50%;
    gap: 0.9rem;
}

@media (max-width: 726px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}

.container picture {
    width: 100%;
    height: 100%;
}
img[width] {
    height: 100%;
}
.item1h {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: 2;
}
.item2h {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: 2;
}
